.vagrant
oracle/_data
**jdk-*.bin
**jdk-*.tar.gz
nodejs/angular/app-base/*
oracle/OracleDatabase
oracle/sqlplus/instantclient*.zip
oracle/sqlplus/sqlcl-*.zip
oracle/sqlplus/output/*
**/nginx-proxy/certs/*
**/openssl/output/*
!.gitkeep
oracle/sqlplus/settings/*
!aliases.xml